.Toolbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: darkgreen ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    box-sizing: border-box;
    z-index: 100;
}

.NavList{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}